<style>
  .batch-update { width: 400px; }
  .batch-update  table { margin: 10px 0; width: 100%; }
  .batch-update  table th { background-color: #999; color: #fff; padding: 8px; }
  .batch-update  table td { padding: 4px; white-space: nowrap; }
  .batch-update  table tr:nth-child(odd) { background: #eee; }
</style>
<script>
  function activateByName(name) {
    window.fetch(`/developer/activate/${name}`, {
      method: 'PUT',
      headers: { 'Content-Type': 'application/json' }
    }).then(resp => { })
      .catch(error => alert(error));
  }

</script>
<div class="batch-update">
  <% var arr=[];  %>
  <% var x = data.filter(el => el.name && el.name !== '')
    .forEach(el => { 
      el.name.replace(/\s+/g, ' ').split(' ').forEach(label => {
      if (arr.indexOf(label) === -1) {
        arr.push(label);
      }
    });
  }); %>

  <table>
    <tr>
      <th>Name</th>
      <th>Turn On</th>
    </tr>
    <% var arr=[];  %>
    <% var x = data.filter(el => el.name && el.name !== '')
      .forEach(el => { 
        el.name.replace(/\s+/g, ' ').split(' ').filter(el => el)
        .forEach(label => {
        if (arr.indexOf(label) === -1) {
          arr.push(label); %>
          <tr>
            <td><%= label? label.trim() : 'empty-name' %></td>
              <td>
                <a href="#mock-responses" onclick="activateByName('<%= label.trim()%>')">
                    <mce-switch name="qq" ></mce-switch>
                </a>
              </td>
            </tr>
          <% }
        });
      }); %>
    </table>
  <form>
<!-- <table>
  <tr>
    <th>Name</th>
    <th>Turn On</th>
  </tr>
  <% data.filter(el => el.name !== null && el.name !== '').forEach(el => { %>
    <tr>
      <td><%= el.name? el.name.trim() : 'empty-name' %></td>
        <td>
            <a href="#mock-responses" onclick="activateByName('<%= el.name.trim()%>')">
                <mce-switch name="qq" ></mce-switch>
            </a>
        </td>
    </tr>
  <% }); %>
</table> -->
</form>
</div>
